/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  html.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    font-size: 17px; /* Or your preferred base: 16px, 18px */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    line-height: 1.5;
  }
}